/* CSS declarations go here */

body {
    background-color:    #fdfbfb;
}

.square {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom: 30%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    overflow:hidden;
}

.content {
    position:absolute;
    height:80%; /* = 100% - 2*10% padding */
    width:90%; /* = 100% - 2*5% padding */
    padding: 10% 5%;
    background-color: #eecbff
;
}
.mainGoal {
    position:absolute;
    height:80%; /* = 100% - 2*10% padding */
    width:90%; /* = 100% - 2*5% padding */
    padding: 10% 5%;
    background-color: #feffa3;
}

.hint-center-goal {
    visibility: hidden;
}
.hint-center-goal:hover {
    visibility: visible;
}

.mainGoal_tb {
    background-color: #0099ff;
}

.subGoal {
    background-color: #b3e0ff;
}

.task {
    background-color: #e5f5ff;
}